@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.image {
  position: absolute;
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
