.createMode{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #F8FAF0;
    border-radius: 20px;
    gap: 1.5rem;

    .cover{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 4.5rem;
        background: #103727;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .createModeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: calc(100% - 7rem);
        gap: 1rem;

        h3{
            color: #525252;
            font-family: Outfit;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 700;
        }

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 10%;
            width: 100%;
            height: 100%;
        }
    
        .createTripForm{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 15rem;
            gap: 1rem;
    
            p{
                width: 5.2rem;
                color: #6d6e6a;
                font-family: Outfit;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                flex-shrink: 0;
            }
    
            .tripInfoItem{
                display: flex;
                justify-content: space-between;
                // min-height: 2.5rem;
    
                .tripInfoInput{
                    width: 100%;
                }
        
                input{
                    padding: 3%;
                    padding-left: 1rem;
                    background: #F8FAF0;
                    background-position: left 5% center;
                    background-size: 8%;
                    border: 1px solid #bebfb8;
                    border-radius: 5px;
                    outline: none;
                    width: 100%;
                    height: 2.5rem;
    
                    color: #5C5C5C;
                    font-size: 15px;
                } 
                input::placeholder {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #bebfb8; 
                }
    
                .participantsBox{
                    display: flex; 
                    flex-wrap: wrap;
                    padding-left: 0.3rem;
                    gap: 0.3rem;
                    width: 100%;
    
                    .participantTag{
                        display: flex;
                        align-items: center;
                        padding-left: 0.5rem;
                        padding-right: 0.5rem;
                        justify-content: space-between;
                        min-width: 3rem;
                        height: 2rem;
                        background: #A4CFB8;
                        border-radius: 8px;
                    }
                }
            }
    
            .dataPickerItem{
                display: flex;
                justify-content: space-between;
                min-height: 2.5rem;
    
                .tripInfoInput{
                    width: 100%;
                }
    
                input{
                    padding: 3%;
                    padding-left: 1rem;
                    width: 20vw;
        
                    font-family: Outfit;
                    font-size: 15px;
                    font-weight: 500;
                    color: #6d6e6a;
                } 
            }
        }
        .formBtn{
            display: flex;
            justify-content: flex-end;
            gap: 10px;
        }
    }
}