.navbar {
  width: 100%;
  height: 70px;
  background: #d9e7ca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  .logo {
    color: #3d4a35;
    text-align: center;
    font-family: Dynapuff;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .user {
    display: flex;
    align-items: center;
    .userNameBox {
      margin: 0 1rem;
      display: flex;
      color: #3d4a35;
      text-align: center;
      font-family: Outfit;
      // font-family: "Noto Sans TC", sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
    .userPic {
      margin: 0 0.5rem;
      display: flex;
      width: 36px;
      height: 36px;
      position: relative;
    }
    .chatIcon {
      margin-left: 0.5rem;
      display: flex;
      width: 36px;
      height: 36px;
      position: relative;

      &:hover .joinLinebot {
        // cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
      .joinLinebot {
        visibility: hidden;
        opacity: 0;
        transition:
          0s linear 0.3s,
          opacity 0.3s;
        position: absolute;
        width: 12rem;
        max-height: 468px;
        top: 68px;
        right: 0;
        border-radius: 20px;
        border: 1px solid #0000001a;
        box-shadow: 0px 9px 14px 0px #0000001a;
        z-index: 10;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #fbfbfb;
          border: 1px solid #0000001a;
          border-radius: 10px;
          &:hover {
            border: 1px solid #000;
          }
        }
        &::-webkit-scrollbar-track {
          background-color: #deddddbd;
          border-radius: 10px;
        }

        .inviteTitle {
          width: 100%;
          height: 4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: hsla(0, 0%, 97%, 1);
          border: 1px solid #0000001a;
          box-shadow: 0px 9px 14px 0px #0000001a;
          background-color: #3d4a35;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          color: #fff;
          font-size: 22px;
          font-style: normal;
          font-weight: 700;
        }

        .inviteCode {
          width: 100%;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #FFFFFF;
          border: 1px solid #0000001a;
          box-shadow: 0px 9px 14px 0px #0000001a;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          font-size: 14px;
          color: #000;
          text-align: center;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    .notifIcon {
      display: flex;
      align-items: center;
      height: min-content;
      position: relative;
      &:hover .notifMenu {
        // cursor: pointer;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
      }
      .notifHint {
        position: absolute;
        top: -0.5rem;
        right: -0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .notifMenu {
        visibility: hidden;
        opacity: 0;
        transition:
          0s linear 0.3s,
          opacity 0.3s;
        position: absolute;
        width: min-content;
        max-height: 468px;
        top: 68px;
        right: 0;
        border-radius: 20px;
        border: 1px solid #0000001a;
        box-shadow: 0px 9px 14px 0px #0000001a;
        z-index: 10;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 10px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #fbfbfb;
          border: 1px solid #0000001a;
          border-radius: 10px;
          &:hover {
            border: 1px solid #000;
          }
        }
        &::-webkit-scrollbar-track {
          background-color: #deddddbd;
          border-radius: 10px;
        }
        .notifMenuBox {
          width: 330px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          border-radius: 20px;
          background: hsla(0, 0%, 97%, 1);
          border: 1px solid #0000001a;
          box-shadow: 0px 9px 14px 0px #0000001a;
          .notifiBox {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 22px;
            font-weight: 500;
            text-align: left;
            color: #000;
            padding: 0.5rem 0;
            .notifIconHov {
              display: flex;
              align-items: center;
              height: min-content;
              margin: 8px 1rem 8px 24px;
            }
            .notifiBoxTitle {
              color: #fff;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
            }
            .notifiReaded {
              color: #fff;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              text-decoration: underline;
              flex-grow: 1;
            }
            .notifiBoxBtn {
              width: 100%;
              height: 36px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-right: 1rem;
              font-size: 18px;
              color: #000;
              text-align: center;
              font-style: normal;
              font-weight: 400;
              text-decoration-line: underline;
            }
          }
          .notifiContent {
            width: 280px;
            display: flex;
            align-items: center;
            margin: 0 24px;
            padding: 1rem 0 0.5rem 0;
            justify-content: space-between;
            border-bottom: 1px solid #d1cace;
            .notifiContentBox {
              width: 260px;
              display: flex;
              align-items: flex-start;
              flex-direction: column;
              text-align: start;
              .notif {
                font-family: Outfit;
                font-style: normal;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.5rem;
              }
              .notifTime {
                color: #699c4a;
                font-family: Outfit;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

.colorDarkGreen {
  background-color: #3d4a35;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.colorGray {
  color: #909090 !important;
}
.noeffect {
  cursor: default;
}
