.daySchedules {
  width: 100%;
  .daySchedules__header {
    width: 30%;
    font-size: 1.125rem;
    font-weight: 700;
    color: #525252;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 0.5rem 0;
    .weather {
      display: none;
    }
  }
  .schedule__key {
    font-weight: 500;
    font-size: 1rem;
    color: #525252;
    margin: 0 0 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .timeline {
    li {
      width: 100%;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;

      &:nth-child(n)::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 1px;
        top: 0;
        height: 100%;
        background-color: #d1d3cb;
        right: calc(50% + 20px);
      }

      &:nth-last-child(1)::after {
        height: 50%;
      }

      &:nth-child(1)::after {
        top: 50%;
        height: 50%;
      }

      &:nth-child(n)::before {
        content: "";
        position: absolute;
        top: 0;
        right: calc(50% + 16px);
        bottom: 0;
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #181426;
        z-index: 2;
      }
    }
    .note {
      width: 35%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      position: relative;
    }
  }
  .expandBtn{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start
  }
  .vote{
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
  }
}
